
.nafn1{
	color:white;
	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
	font-size: 50px;
	justify-content: center;
	text-align: center;
}
.nafn2{
	color:#ff3300;
	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
	font-size: 50px;
	justify-content: center;
	text-align: center;
}
.bakgrunnur{
	background-color: rgba(255,0,0,0.5);
	display:flex;
	justify-content: center;
    text-align: center;
    margin:20px;
    padding:100px;
    border-radius:20px;
    margin-left:200px;
    margin-right:200px;
    font-size:30px;
}
.fbl{

}
.container_row{
	display: flex;
	flex-flow:row;
	justify-content:center;
	text-align: center;
}
.container_column{
	display: flex;
	flex-flow:column;
	justify-content:center;
}
.raudur{
	background-color:red;
	flex-grow:1;
	margin-left:100px;
	margin-right:10px;
	margin-top: 20px;
	border-radius:5px;
}
.black{
	background-color:black;
	color:white;
	flex-grow:1;
	margin-left:10px;
	margin-right:100px;
	margin-top: 20px;
	border-radius:5px;
}
.orange{
	background:#FF4500;
	margin-top: 20px;
	border-radius:5px;
	flex-grow:1;
}
a:link{
    color: white; 
    background-color: transparent; 
    text-decoration: none;
}

a:visited{
    color: pink;
    background-color: transparent;
    text-decoration: none;
}
a:hover{background:orange;}

a:active{
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}
a {
    display:flex;
    flex-direction:column;
    flex: 1 0 auto;
    justify-content: right;
    text-align: center;
    text-decoration:none;
    color:#000;
    background:red;
    padding:30px;
    border-radius:5px;
}